<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Checkpointissimo | About</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <!-- author's signature -->
        <footer>
            <p>
                <i>
                    <pre>&copy; 2026 Rimantas Rimkevičius   <b>/</b>   Contact me: <a href="mailto:rr@rotorklubas.lt">rr@rotorklubas.lt</a>   <b>/</b>   Assets used in programming that I do not own are listed <a href="/sources">here</a></pre>
                </i>
            </p>
        </footer>
    </body>
</html>