<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Checkpointissimo | Aid For Practicing Your Music Instrument</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" crossorigin="anonymous"></script>
    </head>
    <body>
        <script src="" async defer></script>
    </body>
</html>