<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Checkpointissimo | Aid For Practicing Your Music Instrument</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <!-- video buffers for stutter-free visual experience when swapping videos -->
        <video
            id="starting-page-video-buffer-2"
            muted
            playsinline
            aria-hidden="true"
            hidden>
        </video>
        <video
            id="starting-page-video-buffer-1"
            src="{{url_for('static', filename='playing-flute.mp4')}}"
            muted
            playsinline
            autoplay
            aria-hidden="true">
        </video>

        <!-- video swapping automation script -->
        <script type="module">
            // buffers
            const videoBuffer1 = document.getElementById("starting-page-video-buffer-1")
            const videoBuffer2 = document.getElementById("starting-page-video-buffer-2")

            // all videos
            const videos = [
                "{{url_for('static', filename='playing-flute.mp4')}}",
                "{{url_for('static', filename='playing-synth.mp4')}}"
            ]
            let index = 0

            // videoBuffer1 listener
            videoBuffer1.addEventListener("canplay", () => {
                videoBuffer1.hidden = false
                videoBuffer2.hidden = true
                setTimeout(function(){
                    index = (index + 1) % videos.length
                    videoBuffer2.src = videos[index]
                    videoBuffer2.load()
                    videoBuffer2.play()
                }, 10_000)
            })

            // videoBuffer2 listener
            videoBuffer2.addEventListener("canplay", () => {
                videoBuffer2.hidden = false
                videoBuffer1.hidden = true
                setTimeout(function(){
                    index = (index + 1) % videos.length
                    videoBuffer1.src = videos[index]
                    videoBuffer1.load()
                    videoBuffer1.play()
                }, 10_000)
            })
        </script>


        <!-- falling notes -->
        <img
            id="starting-page-gif"
            src="{{url_for('static', filename='notes.gif')}}"
            alt="Colorful falling notes"
        >

        <!-- contents -->
        <div id="starting-page-content">
            <h2>Taking on an instrument?</h2>
            <h2>Make your learning curve less steep with</h2>
            <h1>Checkpointissimo</h1>
            <button id="get-started-button">Get started!</button>
            <p>-- full access, no login required --</p>
            <a href="/about">learn more</a>
        </div>

        <!-- author's signature -->
        <footer>
            <p>
                <i>
                    <pre>&copy; 2026 Rimantas Rimkevičius   <b>/</b>   Contact me: <a href="mailto:rr@rotorklubas.lt">rr@rotorklubas.lt</a>   <b>/</b>   Assets used in programming that I do not own are listed <a href="/sources">here</a></pre>
                </i>
            </p>
        </footer>
    </body>
</html>