<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Checkpointissimo | Aid For Practicing Your Music Instrument</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" crossorigin="anonymous"></script>
    </head>
    <body id="starting-page">
        <script src="" async defer></script>

        <img
            id="starting-page-gif"
            src="{{url_for('static', filename='notes.gif')}}"
            alt="Colorful falling notes"
        >

        <div id="starting-page-content">
            <h2>Taking on an instrument?</h2>
            <h2>Make your learning curve less steep with</h2>
            <h1>Checkpointissimo</h1>
            <button id="get-started-button">Get started!</button>
            <p>(full access - no login required)</p>
            <a href="/about">learn more</a>
        </div>
    </body>
</html>