{%extends "base.html"%}
{%block title%}Checkpointissimo | Aid For Practicing Your Music Instrument{%endblock%}
{%block script%}<script src="{{url_for('static', filename='js/index.js')}}" defer></script>{%endblock%}

{%block content%}
    <!-- video buffers for stutter-free visual experience when swapping videos -->
    <video
        id="starting-page-video-buffer-2"
        muted
        playsinline
        aria-hidden="true"
        preload="auto"
        hidden>
    </video>
    <video
        id="starting-page-video-buffer-1"
        muted
        playsinline
        aria-hidden="true"
        preload="auto"
        autoplay
        src="{{url_for('static', filename='media/playing-flute.mp4')}}">
    </video>


    <!-- falling notes -->
    <img
        id="starting-page-gif"
        src="{{url_for('static', filename='media/notes.gif')}}"
        alt="Colorful falling notes"
    >

    <!-- contents -->
    <div id="starting-page-content">
        <h2>Taking on an instrument?</h2>
        <h2>Make your learning curve less steep with</h2>
        <h1>Checkpointissimo</h1>
        <a href="/play" style="text-decoration: none">
            <button id="get-started-button">Get started!</button>
        </a>
        <p>-- full access, no login required --</p>
        <a href="/about">learn more</a>
    </div>
{%endblock%}