{%extends "base.html"%}
{%block title%}Checkpointissimo{%endblock%}
{%block script%}
<script src="https://www.youtube.com/iframe_api"></script>
<script src="https://unpkg.com/lucide@latest"></script>
<script src="{{url_for('static', filename='js/checkpoint.js')}}"></script>
<script src="{{url_for('static', filename='js/play.js')}}" defer></script>
<script type="text/javascript">
    // red errors are false interpretation of JS code, program runs fine
    var sessionVideoInfo = {{data.video_info|tojson}}
    var sessionCheckpoints = {{data.checkpoints|tojson}}
    const tempWhileLoop = setInterval(() => {
        if (typeof getFromFlask === 'function') {
            clearInterval(tempWhileLoop)
            getFromFlask(sessionVideoInfo, sessionCheckpoints)
        }
    }, 100)
</script>
{%endblock%}

{%block content%}
    <!-- header with program's name on it -->
    <header>
        <a href="/" style="text-decoration:none">
            <h1 class="header">Checkpointissimo</h1>
        </a>
    </header>

    <!-- background -->
    <img
        class="background"
        src="{{url_for('static', filename='media/colors-background.jpg')}}"
        alt="background image"
    >

    <!-- content -->
    <div class="horizontal" id="play-page-div-0">
        <div class="vertical" id="play-page-div-2">
            <nav>
                <button type="button" id="navigation-button">Song no. 1</button>
            </nav>
        </div>

        <div class="horizontal" id="play-page-div-1">
            <section id="video-playback-section">
            </section>

            <div class="vertical" id="play-page-div-3">
                <section id="checkpoint-section">
                </section>
                
                <button disabled type="button" id="start-stop-button" class="button-on" title="Start all videos synchronously (you must align them yourself in each player individually!)">Start all videos</button>
                <button type="button" id="autoplay-button" class="button-on" title="Determines whether or not the videos start playing automatically when you rewind at a checkpoint">Autoplay toggle (on)</button>
                <button disabled type="button" id="jump-button" title="Jump to the last checkpoint the first video went over">Jump to last</button>
                <button disabled type="button" id="add-checkpoint-button" title="Add a new checkpoint at current time (the first video is the reference)">Add new checkpoint</button>
                <button type="button" id="add-video-button" title="Add a new video to play synchronously with others">Add new video</button>
                <button disabled type="button" id="remove-video-button" title="Remove the last imported video">Remove last video</button>
            </div>
        </div>
    </div>
{%endblock%}