{%extends "base.html"%}
{%block title%}Checkpointissimo{%endblock%}
{%block script%}
<script src="https://www.youtube.com/iframe_api"></script>
<script src="{{url_for('static', filename='js/play.js')}}" defer></script>
{%endblock%}

{%block content%}
    <!-- header with program's name on it -->
    <header>
        <a href="/" style="text-decoration:none">
            <h1 class="header">Checkpointissimo</h1>
        </a>
    </header>

    <!-- background -->
    <img
        class="background"
        src="{{url_for('static', filename='media/colors-background.jpg')}}"
        alt="background image"
    >

    <!-- content -->
    <div class="horizontal" id="play-page-div-0">
        <div class="vertical" id="play-page-div-2">
            <nav>
                <button type="button" id="navigation-button">Song no. 1</button>
            </nav>
        </div>

        <div class="horizontal" id="play-page-div-1">
            <section id="video-playback-section">
            </section>

            <div class="vertical" id="play-page-div-3">
                <section id="checkpoint-section">
                </section>
                
                <button type="button" id="start-stop-button" class="button-on">Start all videos</button>
                <button type="button" id="autoplay-button" class="button-on">Autoplay toggle (on)</button>
                <button type="button" id="jump-button">Jump to last</button>
                <button type="button" id="add-checkpoint-button">Add new checkpoint</button>
                <button type="button" id="add-video-button">Add new video</button>
                <button type="button" id="remove-video-button">Remove last video</button>
            </div>
        </div>
    </div>
{%endblock%}