/* custom stylized font for program's name */
@font-face {
    font-family: "Brush Script MT";
    src: url("/static/fonts/BRUSHSCI.TTF") format("truetype"),
        url("/static/fonts/BrushScriptStd.otf") format("opentype");
}

/* for everything, with exceptions */
* {
    font-family: Garamond, serif;
    color: white;
    font-size: 15px;
    text-shadow: 2px 2px 4px #000000;
    margin: 0px;
    padding: 0px;
}

/* entire page */
body {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

/* background video in starting page */
#starting-page-video-buffer-1, #starting-page-video-buffer-2, img.background {
    width: 100%;
    z-index: 1;
    position: absolute;
}

/* moving gif's general properties */
#starting-page-gif {
    width: 100%;
    z-index: 2;
    position: absolute;
    display: none;
}
/* moving gif animation when hovered over start button */
#starting-page:has(#get-started-button:hover) #starting-page-gif {
    display: block;
}

/* text contents of starting page */
#starting-page-content, footer {
    width: 100%;
    z-index: 3;
    position: absolute;
    text-align: center;
    margin-top: 50px;
}

/* text contents of sources page */
#sources-page-content {
    width: 100%;
    z-index: 2;
    position: absolute;
}

/* decorated name of program */
h1 {
    font-family: "Brush Script MT", cursive;
    font-size: 70px;
    color: #afe3b8;
}
h1.header {
    font-size: 40px;
}

/* heading */
h2 {
    font-size: 30px;
    margin: 10px;
}

/* start button */
#get-started-button {
    background-color: #389646;
    border: 2px solid #c8dbcb;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    margin-top: 60px;
    margin-bottom: 10px;
    padding: 8px 12px 8px 12px;
}
/* hovered over animation */
#get-started-button:hover {
    animation: button-pulse 0.25s infinite alternate;
}
@keyframes button-pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* program's name header */
header {
    background-color: #170129;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
}

/* author's signature */
footer {
    background-color: black;
    padding-top: 4px;
    padding-bottom: 4px;
    position: fixed;
    bottom: 3px;
}

li {
    margin-left: 26px;
}