/* custom stylized font for program's name */
@font-face {
    font-family: "Brush Script MT";
    src: url("/static/fonts/BRUSHSCI.TTF") format("truetype"),
        url("/static/fonts/BrushScriptStd.otf") format("opentype");
}

/* for everything, with exceptions */
* {
    font-family: Garamond, serif;
    color: white;
    font-size: 15px;
    text-shadow: 2px 2px 4px #000000;
    margin: 0px;
    padding: 0px;
}

/* entire page */
html, body {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

/* background video in starting page */
#starting-page-video-buffer-1, #starting-page-video-buffer-2, img.background {
    width: 100%;
    z-index: 1;
    position: absolute;
}

/* moving gif's general properties */
#starting-page-gif {
    width: 100%;
    z-index: 2;
    position: absolute;
    display: none;
}
/* moving gif animation when hovered over start button */
body:has(#get-started-button:hover) #starting-page-gif {
    display: block;
}

/* text contents of starting page */
#starting-page-content, footer {
    width: 100%;
    z-index: 3;
    position: absolute;
    text-align: center;
    margin-top: 50px;
}

/* text contents of sources page */
#sources-page-content {
    width: 100%;
    z-index: 2;
    position: absolute;
}

/* decorated name of program */
h1 {
    font-family: "Brush Script MT", cursive;
    font-size: 70px;
    color: #afe3b8;
}
h1.header {
    font-size: 40px;
}

/* heading */
h2 {
    font-size: 30px;
    margin: 10px;
}

/* start button */
#get-started-button {
    background-color: #389646;
    border: 2px solid #c8dbcb;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    margin-top: 60px;
    margin-bottom: 10px;
    padding: 8px 12px 8px 12px;
}
/* hovered over animation */
#get-started-button:hover {
    animation: button-pulse 0.25s infinite alternate;
}
@keyframes button-pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* program's name header */
header {
    background-color: #170129;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    z-index: 3;
}

/* author's signature */
footer {
    background-color: black;
    padding-top: 4px;
    padding-bottom: 4px;
    position: fixed;
    bottom: 3px;
}

li {
    margin-left: 26px;
}


.vertical {
    flex-direction: column;
}

.horizontal {
    flex-direction: row;
}

.horizontal, .vertical {
    position: relative;
    z-index: 2;
    display: flex;
    margin: 4px;
    padding: 3px;
    border: 4px solid white;
    border-radius: 7px;
}

#checkpoint-section {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

#play-page-div-0 {
    height: calc(100% - 80px);
}

#play-page-div-2 {
    z-index: 2;
    flex: 0 0 13%;
}

#play-page-div-1, #play-page-div-3 {
    flex: 1 1 auto;
    justify-content: flex-end;
}

#video-playback-section {
    overflow-y: auto;
    overflow-x: hidden;
    flex: 0 0 80%;
}

#checkpoint-section {
    overflow-y: scroll;
    overflow-x: hidden;
}

#jump-button, #add-checkpoint-button, #add-video-button, #remove-video-button, #start-stop-button, #autoplay-button, #navigation-button {
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid black;
    border-radius: 7px;
}

.button-on {
    background-color: #33b76e;
}

.button-off {
    background-color: #b74533;
}

#jump-button {
    background-color: #d4a93b;
}

#add-checkpoint-button {
    background-color: #9f8031;
}

#add-video-button {
    background-color: #3668ff;
}

#remove-video-button {
    background-color: #cf2c2c;
}

#navigation-button {
    background-color: #777777ac;
    width: 100%;
}

.cp-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.cp-del-btn {
    background-color: transparent;
    border: none;
    margin-left: 5px;
    width: 16px;
    height: 16px;
    justify-content: center;
}

.cp-del-icon {
    color: #cf2c2c;
    stroke: #cf2c2c;
    width: 100%;
    height: 100%;
}

button {
    transform: translateY(0px);
    transition: transform 0.15s ease-out; /* when mouse cursor leaves button's area */
}

button:disabled {
    opacity: .5;
    pointer-events: none;
}

button:hover {
    transform: translateY(-2px);
}

button:active {
    transform: translateY(-2px) scale(1.018);
}

button:active.cp-del-btn {
    transform: translateY(-2px) scale(1.09);
}
