/* custom stylized font for program's name */
@font-face {
    font-family: "Brush Script MT";
    src: url("/static/fonts/BRUSHSCI.TTF") format("truetype"),
        url("/static/fonts/BrushScriptStd.otf") format("opentype");
}

/* for everything, with exceptions */
* {
    font-family: Garamond, serif;
    color: white;
    font-size: 15px;
    text-shadow: 2px 2px 4px #000000;
    margin: 0px;
    padding: 0px;
}

/* whole starting page */
#starting-page {
    width: 100%;
    height: 100%;
    background-color: #000000;
    position: relative;
}

/* background video in starting page */
#starting-page-video-buffer-1, #starting-page-video-buffer-2 {
    width: 100%;
    z-index: 1;
    position: absolute;
}

/* moving gif animation when hovered over start button */
#starting-page-gif {
    width: 100%;
    z-index: 2;
    position: absolute;
}

/* text contents of starting page */
#starting-page-content {
    width: 100%;
    z-index: 3;
    position: absolute;
    text-align: center;
    margin-top: 50px;
}

/* decorated name of program */
h1 {
    font-family: "Brush Script MT", cursive;
    font-size: 70px;
    color: #afe3b8;
}

/* heading */
h2 {
    font-size: 30px;
    margin: 10px;
}

/* start button */
#get-started-button {
    background-color: #389646;
    border: 2px solid #c8dbcb;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    margin-top: 60px;
    padding: 8px 12px 8px 12px;
}
